body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 100%;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.question-avatar {
  height: 100px;
  margin: 10px;
  border: solid 1px hsl(303, 69%, 70%);
}
.nav-avatar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  border: solid 1px hsl(303, 69%, 70%);
}
.logo {
  height: 80px;
  border-radius: 5px;
  margin: 10px;
}


.poll {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.card {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 0;
  cursor: pointer;
}
.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card .card-content {
  padding: 10px;
}
.card .card-header {
  padding: 20px 20px;
  background-color: hsl(0, 11%, 84%);
  color: hsl(0, 0%, 2%);
}
.card .card-header-sm {
  padding: 2px 10px;
  color: hsl(0, 0%, 2%);
}
.logo-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  opacity: 0.75;
}

.header {
  padding: 20px 5px;
}

a.app-link {
  text-transform: uppercase;
}
a.app-link:hover {
  color: hsl(271, 76%, 53%);
}
.poll-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.poll-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.poll-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.poll-info > div > div {
  color: #969696;
  font-size: 15px;
}
.poll-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.poll-icons {
  display: flex;
  align-items: center;
}
.poll-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.poll-icon {
  font-size: 27px;
  color: #697784;
}
.poll-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-poll {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.poll-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

select, input {
  border: none;
  border-radius: 0;
  border-bottom: solid 1px hsl(189, 100%, 42%);
  
}
select {
  width: 100%;
}
input {
  width: 80%;
  margin-bottom: 20px;
}

option.image-bg {
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 1px 2px;
  background-size: 50px;
  vertical-align: middle;
  }

.form-group {
  padding: 20px 10px;
}

/* for nav pills https://gist.github.com/lemiant/1e353703a7f6e706f9be */

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li {
  float: left;
  padding: 2px 2px;
  border: 1px solid transparent;
  width: 40%;
  text-align: center;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li:hover,
.nav-tabs > li:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active,
.nav-tabs > .active:hover,
.nav-tabs > .active:focus {
  color: #555555;
  background-color: hsl(202, 50%, 88%);
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}

.login-icon {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.thumbs-down {
  color: hsl(6, 62%, 42%);
}
.thumbs-up {
  color: hsl(118, 86%, 67%);
}
